
p#jref_footer {
    font-size: x-small;
    margin-top: 0px;
    margin-bottom: 0px;
}

span#jref_footer {
    font-size: x-small;
    margin-top: 0px;
    margin-bottom: 0px;
}

a#jref_footer {
    text-decoration: none;
}

#div_jref_footer {
    margin-top: 0px;
    margin-bottom: 0px;
}

#jref_footer {
    margin-top: 0px;
    margin-bottom: 0px;
}


